﻿body {
    /*color: rgb(51, 51, 51); line-height: 15px; font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 12px; background-color: White;*/
    background-color: #fff;
    font-size: 80%;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
    line-height: 1.4em;
}

h1 {
    text-transform: capitalize;
    font-family: Georgia, Times New Roman;
    font-size: 32px;
}

h2 {
    text-transform: capitalize;
    font-family: Georgia, Times New Roman;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-family: Georgia, Times New Roman, Helvetica, Sans-Serif;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    padding-top: -10px;
    font-weight: bold;
    color: #780000;
}

h4 {
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 18px;
    font-weight: bold;
}

h5 {
    text-transform: uppercase;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
}

h6 {
    text-transform: capitalize;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
}

p {
    color: Black;
    line-height: 20px;
    font-family: Verdana, Helvetica, Sans-Serif;
}

    p.small {
        /*font-size: 11px;*/
        font-size: .8em;
    }

    p.smaller {
        /*font-size: 10px;*/
        font-size: .7em;
    }

    p.copyRight {
        text-align: center;
        font-family: Geneva, Verdana, Arial, Helvetica, Sans-Serif; /*font-size: 9px;*/
        font-size: .6em;
    }

th {
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
}

td {
    line-height: 1.5em;
}

table.alternate_rows {
    border: 1px solid #ccc;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

    table.alternate_rows th {
        border-style: solid;
        border-color: #ccc;
        padding: 2px 4px;
        height: 25px;
    }

    table.alternate_rows td {
        border-style: solid;
        border-color: #ccc;
        padding: 2px 4px;
        height: 25px;
    }

    table.alternate_rows th {
        border-width: 1px;
        height: 25px;
        text-align: center;
        font-weight: bold;
        background-color: #ccc;
    }

    table.alternate_rows td {
        border-width: 0px 1px;
        text-align: left;
    }

    table.alternate_rows tr.odd td {
        text-align: left;
        background-color: #fff;
    }

    table.alternate_rows tr.even td {
        text-align: left;
        background-color: #ddd;
    }

    table.alternate_rows tr.sortbottom td {
        text-align: left;
        font-weight: bold;
        border-top-color: #cccccc;
        border-top-width: 1px;
        border-top-style: solid;
        background-color: #ccc;
    }

a:link {
    color: White;
    text-decoration: None;
}

a:visited {
    color: White;
    text-decoration: None;
}

a.mmenu:link {
    color: White;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

a.mmenu:visited {
    color: White;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

a.mmenu:hover {
    color: Orange;
    text-decoration: underline;
    font-size: 14px;
    padding: 5px;
}

a.orange:link {
    color: orange;
    text-decoration: none;
}

a.orange:visited {
    color: purple;
    text-decoration: none;
}

a.blue:link {
    color: blue;
    text-decoration: underline;
}

a.blue:visited {
    color: purple;
    text-decoration: underline;
}

ol {
    padding-bottom: 2px;
}

    ol.lvl_1 {
        padding-bottom: 2px;
        list-style-type: upper-roman;
    }

    ol.lvl_2 {
        padding-bottom: 2px;
        list-style-type: lower-roman;
    }

    ol.lvl_3 {
        padding-bottom: 2px;
        list-style-type: upper-latin;
    }

    ol.lvl_4 {
        padding-bottom: 2px;
        list-style-type: lower-alpha;
    }

ul {
    padding-bottom: 2px;
}

    ul.lvl_1 {
        padding-bottom: 2px;
        list-style-type: square;
    }

    ul.lvl_2 {
        padding-bottom: 2px;
        list-style-type: disc;
    }

    ul.lvl_3 {
        padding-bottom: 2px;
        list-style-type: circle;
    }

    ul.lvl_4 {
        padding-bottom: 3px;
        list-style-type: none;
    }

li {
    padding-bottom: 3px;
}


