﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Header.ascx.cs" Inherits="RAD.Forms.Header" %>
 <link title="Standard" href="~/Styles/RAD_Style.css" type="text/css" rel="STYLESHEET" />
<style type="text/css">
      .style1
    {
        height: 37px;
    }
    a
    {
       text-decoration:none
    }
</style>
<table cellpadding="0px" cellspacing="0px" width="100%" style="height: 105px; background-color:#660000">
    <tr>
         <td align="right"
             style="width: 55%; vertical-align: middle; height:100%; background-image:url('');  background-repeat:no-repeat;" 
             rowspan="3">
        
        </td>
        <td align="right" style="background-color:#660000; vertical-align:bottom; font-family:Verdana; font-size:medium; font-weight:bold; color:Gold">
            Welcome, <asp:Label ID="lblauthUser" Text="" runat="server"></asp:Label>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td align="right" style="background-color:#660000; font-family:Verdana; font-size:smaller; vertical-align:bottom; font-weight:bold; color:Orange">
                 </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" style="width:100%" border="0">
   <tr>
    <td colspan="2" align="left" style="height: 35px; padding-left:20px; font-weight:bolder; font-family:Verdana; font-size:small; background-image:url('Images/grey_for_org.jpg'); color:#660000" >
    Radio Active Database(RAD)
    </td>
     <td colspan="2" align="right" style="height: 35px; font-weight:bolder; font-family:Verdana; font-size:smaller;color:Maroon" >
  
    </td>
    
    </tr>
 </table>
 <table cellspacing="0" cellpadding="0" style="width:100%" border="0">
 
</table>