﻿<%@ Page Title="License Information" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="License.aspx.cs" Inherits="RAD.License" %>
<asp:Content ID="License" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>
